<div class="shopCartContainer">
    <h1>Check Out</h1>
    <div class="contents">
        {{#each message}}
        <div class="alert alert-danger">{{this}}</div>
        {{/each}}
        <form action="/checkout" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name : </label>
                <input name="name" type="text" class="form-control" id="exampleFormControlInput1"
                    value="{{user.userName}}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Address : </label>
                <input name="address" type="text" class="form-control" id="exampleFormControlInput2"
                    value="{{user.address}}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput10" class="form-label">Contact : </label>
                <input name="contact" type="text" class="form-control" id="exampleFormControlInput10"
                    value="{{user.contact}}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Credit Cart Name : </label>
                <input name="creditCartName" type="text" class="form-control" id="exampleFormControlInput3"
                    placeholder="Please Enter Your Credit Cart Name ....">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">Credit Cart Number : </label>
                <input name="creditCartNumber" type="number" class="form-control" id="exampleFormControlInput4"
                    placeholder="Please Enter Your Credit Cart Number ....">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput5" class="form-label">Expiration Month : </label>
                <input name="expirationMonth" type="number" class="form-control" id="exampleFormControlInput5"
                    placeholder="Please Enter Your Credit Cart Expiration Month ....">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput6" class="form-label">Expiration Year : </label>
                <input name="expirationYear" type="number" class="form-control" id="exampleFormControlInput6"
                    placeholder="Please Enter Your Credit Cart Expiration Year ....">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput7" class="form-label">CVC : </label>
                <input name="cvc" type="number" class="form-control" id="exampleFormControlInput7"
                    placeholder="Please Enter Your Credit Cart CVC ....">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="Checkout {{totalPrice}} L.E">
            </div>
        </form>
    </div>
</div>